@model IEnumerable<MvcStart.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>회원 목록</h1>

<p>
    <a asp-action="Create">회원 생성</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                이름@*@Html.DisplayNameFor(model => model.name)*@
            </th>
            <th>
                생년월일
                @*@Html.DisplayNameFor(model => model.birthday)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthday)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary mx-1">수정</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary mx-1">자세히</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger mx-1">삭제</a>
            </td>
        </tr>
}
    </tbody>
</table>
